In [68]:
#closest to location
# metrics os closiness by vector

import pandas as pd
import numpy as np
import random
import math
import scipy.spatial.distance as ssd

In [37]:
ls = [{'lat':59.940069, 'lon': 30.320465, 'value':5}, {'lat':59.640069, 'lon': 30.420465, 'value':10}]

for i in np.arange(0.0, 1.0, 0.01):
    ls.append({'lat':59.9400 + i, 'lon': 30.320465+i, 'value': random.randint(0,15)})
    
data = pd.DataFrame(ls)

In [38]:
data.head()

         lat        lon  value
0  59.940069  30.320465      5
1  59.640069  30.420465     10
2  59.940000  30.320465      7
3  59.950000  30.330465      3
4  59.960000  30.340465      8

In [39]:
lats = data['lat']
lons = data['lon']
data['location'] = list(zip(data['lat'], data['lon']))

def find_closest_location(df, lat, lon):
    if (lat, lon) in df['location']:
        return lat, lon
    df['evc'] = df['location'].map(lambda x: math.sqrt((x[0]-lat)**2 + (x[1]-lon)**2))
    
    df = df.sort_values(['evc'], ascending=True)
    if len(df) == 0:
        return None, None
    return df.iloc[0]['location']

In [40]:
find_closest_location(data, 59.940069, 30.340465)

(59.949999999999996, 30.330465)

In [47]:
features = [{'lat':59.940069, 'lon': 30.320465, 'f1':5, 'f2':8}, {'lat':59.640069, 'lon': 30.420465, 'f1':10, 'f2':2}]

for i in np.arange(0.0, 1.0, 0.01):
    features.append({'lat':59.9400 + i, 'lon': 30.320465+i, 'f1': random.randint(0,15), 'f2': random.randint(0,15)})
    
data2= pd.DataFrame(features)

In [137]:
def prepare(data2):
    data2['location'] = list(zip(data2['lat'], data['lon']))
    del data2['lat']
    del data2['lon']
    feature_columns = [x for x in data2.columns if x!= 'location']
    return data2, feature_columns

In [142]:
def count_distances(df, columns, location, mode):
    vdf = df[df['location'] == location]
    vector = vdf[columns].as_matrix()
    matrix = df[columns].as_matrix()
    if mode == 'cos':
        res = count_cosine(matrix, vector)
    else:
        res = count_euclid(matrix, vector)
    df['metrics'] = res
    df = df.sort_values(['metrics'])
    return df.drop(df.index[[0]])

In [143]:
def count_cosine(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.cosine(i, vector))
    return cos

In [144]:
def count_euclid(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.euclidean(i, vector))
    return cos

In [145]:
d = count_distances(data2, feature_columns,  (59.949999999999996, 30.330465), 'cos')

In [146]:
d.head()

    f1  f2            location   metrics
7    7   4  (59.99, 30.370465)  0.000040
86  10   6  (60.78, 31.160465)  0.000076
56   9   5  (60.48, 30.860465)  0.000220
57  13   7  (60.49, 30.870465)  0.000582
28  12   8   (60.2, 30.580465)  0.001795

In [164]:
educ = pd.read_csv('data/educ_SPB.csv')
educ.columns = ['amenity', 'name', 'lat', 'lon']
educ['location'] = list(zip(educ['lat'], educ['lon']))

In [ ]:
ds1 = pd.read_csv('data/olya_features.csv')
ds1 = ds1[['lng', 'lat', 'criminality_score', 'complaints_score']]
ds1.columns = ['lon', 'lat', 'crime', 'complain']
ds1['location'] = list(zip(ds1['lat'], ds1['lon']))

In [170]:
def find_closest_min_location(df, lat, lon):
    if (lat, lon) in df['location']:
        return lat, lon
    df['evc'] = df['location'].map(lambda x: math.sqrt((x[0]-lat)**2 + (x[1]-lon)**2))
    
    df = df.sort_values(['evc'], ascending=True)
    if len(df) == 0:
        return None, None
    return df.iloc[0]['evc']

In [171]:
ds1['educ_dist'] = ds1['location'].map(lambda x: find_closest_min_location(educ,  x[0], x[1]))

In [178]:
rest = pd.read_csv('data/rest_SPB.csv')
rest.columns = ['amenity', 'name', 'lat', 'lon']
rest['location'] = list(zip(rest['lat'], rest['lon']))
ds1['rest_dist'] = ds1['location'].map(lambda x: find_closest_min_location(rest,  x[0], x[1]))

In [179]:
infrastr = pd.read_csv('data/infrastr_SPB.csv')
infrastr.columns = ['amenity', 'name', 'lat', 'lon']
infrastr['location'] = list(zip(infrastr['lat'], infrastr['lon']))
ds1['infrastr_dist'] = ds1['location'].map(lambda x: find_closest_min_location(infrastr,  x[0], x[1]))

In [181]:
med = pd.read_csv('data/med_SPB.csv')
med.columns = ['bbb', 'name', 'lat', 'lon']
med['location'] = list(zip(med['lat'], med['lon']))
ds1['med_dist'] = ds1['location'].map(lambda x: find_closest_min_location(med,  x[0], x[1]))

In [188]:
ds1.head()

,lon,lat,crime,complain,location,educ_dist,rest_dist,infrastr_dist,med_dist,shops_dist
0,30.229946,59.844715,0.679315,1.117699,"(59.844715, 30.229946)",0.009675,0.003157,0.002949,0.003971,0.001185
1,30.243179,59.930236,0.910500,1.172718,"(59.9302363, 30.2431786)",0.000584,0.001834,0.002258,0.000570,0.001469
2,30.324209,60.020927,0.910500,1.223731,"(60.020927, 30.324209)",0.002645,0.003006,0.003789,0.002193,0.001710
3,30.316559,59.989446,0.910500,1.240615,"(59.989446, 30.3165589)",0.006782,0.002118,0.006692,0.007717,0.000950
4,30.473965,60.059112,-1.318550,-1.798249,"(60.0591117, 30.4739647)",0.048342,0.005432,0.014119,0.001383,0.002467

In [187]:
shops = pd.read_csv('data/shops_SPB.csv')
shops.columns = ['shop', 'lat', 'lon']
shops['location'] = list(zip(shops['lat'], shops['lon']))
ds1['shops_dist'] = ds1['location'].map(lambda x: find_closest_min_location(shops,  x[0], x[1]))

In [189]:
ds1.to_csv('crime_complain_educ_rest_infrastr_med_shops.csv', encoding='utf-8', index=False)