In [68]:
#closest to location
# metrics os closiness by vector

import pandas as pd
import numpy as np
import random
import math
import scipy.spatial.distance as ssd

In [37]:
ls = [{'lat':59.940069, 'lon': 30.320465, 'value':5}, {'lat':59.640069, 'lon': 30.420465, 'value':10}]

for i in np.arange(0.0, 1.0, 0.01):
    ls.append({'lat':59.9400 + i, 'lon': 30.320465+i, 'value': random.randint(0,15)})
    
data = pd.DataFrame(ls)

In [38]:
data.head()

         lat        lon  value
0  59.940069  30.320465      5
1  59.640069  30.420465     10
2  59.940000  30.320465      7
3  59.950000  30.330465      3
4  59.960000  30.340465      8

In [39]:
lats = data['lat']
lons = data['lon']
data['location'] = list(zip(data['lat'], data['lon']))

def find_closest_location(df, lat, lon):
    if (lat, lon) in df['location']:
        return lat, lon
    df['evc'] = df['location'].map(lambda x: math.sqrt((x[0]-lat)**2 + (x[1]-lon)**2))
    
    df = df.sort_values(['evc'], ascending=True)
    if len(df) == 0:
        return None, None
    return df.iloc[0]['location']

In [40]:
find_closest_location(data, 59.940069, 30.340465)

(59.949999999999996, 30.330465)

In [47]:
features = [{'lat':59.940069, 'lon': 30.320465, 'f1':5, 'f2':8}, {'lat':59.640069, 'lon': 30.420465, 'f1':10, 'f2':2}]

for i in np.arange(0.0, 1.0, 0.01):
    features.append({'lat':59.9400 + i, 'lon': 30.320465+i, 'f1': random.randint(0,15), 'f2': random.randint(0,15)})
    
data2= pd.DataFrame(features)

In [137]:
def prepare(data2):
    data2['location'] = list(zip(data2['lat'], data['lon']))
    del data2['lat']
    del data2['lon']
    feature_columns = [x for x in data2.columns if x!= 'location']
    return data2, feature_columns

In [142]:
def count_distances(df, columns, location, mode):
    vdf = df[df['location'] == location]
    vector = vdf[columns].as_matrix()
    matrix = df[columns].as_matrix()
    if mode == 'cos':
        res = count_cosine(matrix, vector)
    else:
        res = count_euclid(matrix, vector)
    df['metrics'] = res
    df = df.sort_values(['metrics'])
    return df.drop(df.index[[0]])

In [143]:
def count_cosine(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.cosine(i, vector))
    return cos

In [144]:
def count_euclid(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.euclidean(i, vector))
    return cos

In [145]:
d = count_distances(data2, feature_columns,  (59.949999999999996, 30.330465), 'cos')

In [146]:
d.head()

    f1  f2            location   metrics
7    7   4  (59.99, 30.370465)  0.000040
86  10   6  (60.78, 31.160465)  0.000076
56   9   5  (60.48, 30.860465)  0.000220
57  13   7  (60.49, 30.870465)  0.000582
28  12   8   (60.2, 30.580465)  0.001795