In [1]:
import pandas as pd
import numpy as np
import random
import math
import scipy.spatial.distance as ssd

In [38]:
# вставьте здесь координаты (они приходят на вход)
# Михайловский замок #59.940069, 30.340465
input_latitude, input_longitude = 59.940069, 30.320465

In [39]:
# загрузка датасета - вставьте другой путь.
# требуемые колонки = lat, lon, остальные колонки без разницы с каким названием
#data = pd.read_csv('crime_complain_educ_rest_infrastr_med_shops.csv')
data = pd.read_csv('all_feat_data.csv')
del data['Unnamed: 0']
data['location'] = list(zip(data['lat'], data['lon']))
data, feature_columns = prepare(data)

In [40]:
data.head()

,crime,complain,location,educ_dist,rest_dist,infrastr_dist,med_dist,shops_dist,food_retail,rest,educ,infrastr,med,district_year,year,floors
0,0.679315,1.117699,"(59.844715, 30.229946)",0.009675,0.003157,0.002949,0.003971,0.001185,1.387198,0.315501,-0.693321,0.909674,0.475634,0.745862,0.630134,-0.280710
1,0.910500,1.172718,"(59.9302363, 30.2431786)",0.000584,0.001834,0.002258,0.000570,0.001469,1.497607,1.029705,2.453418,1.205592,1.242706,0.160107,-0.916830,0.038097
2,0.910500,1.223731,"(60.020927, 30.324209)",0.002645,0.003006,0.003789,0.002193,0.001710,-1.130144,-1.081087,-0.693321,-0.933382,-1.058509,0.642959,0.583256,0.994515
3,0.910500,1.240615,"(59.989446, 30.3165589)",0.006782,0.002118,0.006692,0.007717,0.000950,1.304445,1.080010,0.157048,1.068238,1.373051,0.133722,-0.565247,-0.280710
4,-1.318550,-1.798249,"(60.0591117, 30.4739647)",0.048342,0.005432,0.014119,0.001383,0.002467,0.478818,-0.000539,-0.693321,-0.933382,-0.291438,-0.642007,-0.940269,-0.918322

In [41]:
data[feature_columns].corr()

,crime,complain,educ_dist,rest_dist,infrastr_dist,med_dist,shops_dist,food_retail,rest,educ,infrastr,med,district_year,year,floors
crime,1.000000,0.723607,-0.408680,-0.499627,-0.487026,-0.491229,-0.407367,0.746449,0.713213,0.527117,0.705458,0.630194,-0.468533,-0.389756,-0.004053
complain,0.723607,1.000000,-0.458958,-0.697718,-0.668640,-0.682746,-0.585175,0.852267,0.730286,0.522324,0.718170,0.664159,-0.397422,-0.347761,-0.010615
educ_dist,-0.408680,-0.458958,1.000000,0.383227,0.426080,0.466503,0.326069,-0.502331,-0.439604,-0.468751,-0.464430,-0.458596,0.316451,0.275287,0.018026
rest_dist,-0.499627,-0.697718,0.383227,1.000000,0.685760,0.722182,0.616365,-0.653446,-0.611017,-0.379685,-0.533535,-0.495393,0.305652,0.265463,0.005362
infrastr_dist,-0.487026,-0.668640,0.426080,0.685760,1.000000,0.669840,0.514505,-0.646238,-0.570363,-0.413788,-0.639620,-0.514956,0.299038,0.258913,-0.009866
med_dist,-0.491229,-0.682746,0.466503,0.722182,0.669840,1.000000,0.606319,-0.661035,-0.591147,-0.415766,-0.558390,-0.622358,0.310912,0.270870,0.007741
shops_dist,-0.407367,-0.585175,0.326069,0.616365,0.514505,0.606319,1.000000,-0.597030,-0.425188,-0.282282,-0.396322,-0.381968,0.210677,0.179845,-0.019512
food_retail,0.746449,0.852267,-0.502331,-0.653446,-0.646238,-0.661035,-0.597030,1.000000,0.851172,0.661694,0.833775,0.799986,-0.563645,-0.497161,-0.081099
rest,0.713213,0.730286,-0.439604,-0.611017,-0.570363,-0.591147,-0.425188,0.851172,1.000000,0.792212,0.898890,0.867399,-0.758202,-0.661761,-0.204312
educ,0.527117,0.522324,-0.468751,-0.379685,-0.413788,-0.415766,-0.282282,0.661694,0.792212,1.000000,0.746514,0.774791,-0.784207,-0.686116,-0.249115
infrastr,0.705458,0.718170,-0.464430,-0.533535,-0.639620,-0.558390,-0.396322,0.833775,0.898890,0.746514,1.000000,0.833158,-0.658078,-0.572093,-0.140191
med,0.630194,0.664159,-0.458596,-0.495393,-0.514956,-0.622358,-0.381968,0.799986,0.867399,0.774791,0.833158,1.000000,-0.676170,-0.596259,-0.163420
district_year,-0.468533,-0.397422,0.316451,0.305652,0.299038,0.310912,0.210677,-0.563645,-0.758202,-0.784207,-0.658078,-0.676170,1.000000,0.875740,0.438185
year,-0.389756,-0.347761,0.275287,0.265463,0.258913,0.270870,0.179845,-0.497161,-0.661761,-0.686116,-0.572093,-0.596259,0.875740,1.000000,0.452881
floors,-0.004053,-0.010615,0.018026,0.005362,-0.009866,0.007741,-0.019512,-0.081099,-0.204312,-0.249115,-0.140191,-0.163420,0.438185,0.452881,1.000000

In [42]:
#feature_columns - список колонок-фичей, чтобы по ним потом считать расстояние
def prepare(data2):
    del data2['lat']
    del data2['lon']
    feature_columns = [x for x in data2.columns if x!= 'location']
    return data2, feature_columns

# ищет ближайший локейшн по df 
def find_closest_location(df, lat, lon):
    print('find clsest location!')
    if (lat, lon) in df['location']:
        return lat, lon
    df['evc'] = df['location'].map(lambda x: math.sqrt((float(x[0])-float(lat))**2 + (float(x[1])-float(lon))**2))
    df = df.sort_values(['evc'], ascending=True)
    if len(df) == 0:
        return None
    return df.iloc[0]['location']

#считает расстояние location до каждого из df
def count_distances(df, columns, location, mode):
    if location not in df['location']:
        location = find_closest_location(df, location[0], location[1])
    vdf = df[df['location'] == location]
    vector = vdf[columns].as_matrix()
    if vector.shape[0] != 1:
        vector = [vector[0]]
    matrix = df[columns].as_matrix()
    if mode == 'cos':
        res = count_cosine(matrix, vector)
    else:
        res = count_euclid(matrix, vector)
    df['metrics'] = res
    df = df.sort_values(['metrics'])
    return df.drop(df.index[[0]])

#косинусное расстояние
def count_cosine(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.cosine(i, vector))
    return cos

#евклидово расстояние
def count_euclid(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.euclidean(i, vector))
    return cos

In [43]:
#все считаем
d = count_distances(data, feature_columns,  (input_latitude, input_longitude), 'cos')
d.to_csv('predict_for_{0}_{1}.csv'.format(input_latitude, input_longitude))

find clsest location!

In [46]:
d.head()

,crime,complain,location,educ_dist,rest_dist,infrastr_dist,med_dist,shops_dist,food_retail,rest,educ,infrastr,med,district_year,year,floors,evc,metrics
2027,2.104613,1.325743,"(59.9404882, 30.3200426)",0.003805,0.000295,0.000914,0.003381,0.002730,1.625066,2.922016,3.303787,2.598917,2.199956,-2.557585,-2.651305,-0.918322,0.000595,1.110223e-16
11166,2.128905,1.305950,"(59.9414022, 30.3218112)",0.001940,0.001115,0.001764,0.003777,0.001198,1.497607,2.824457,3.153375,2.530316,2.009778,-2.773944,-2.346600,-0.918322,0.001895,1.663841e-03
2351,2.286594,1.326063,"(59.940199, 30.323098)",0.002559,0.000914,0.001468,0.002819,0.001254,1.497607,2.860008,3.153375,2.723752,1.862005,-2.367610,-2.745060,-0.918322,0.002636,2.164241e-03
60,2.128905,1.305950,"(59.9414022, 30.3218112)",0.001940,0.001115,0.001764,0.003777,0.001198,1.497607,2.824457,3.153375,2.530316,2.009778,-2.773944,-2.346600,-0.599516,0.001895,2.479820e-03
3424,2.144677,1.288261,"(59.9415733, 30.3234497)",0.001551,0.000345,0.002505,0.003403,0.000154,1.425663,2.748086,3.041769,2.631575,1.862005,-2.478428,-2.229405,-0.599516,0.003342,2.745962e-03

In [52]:
dd = d.reset_index()

In [53]:
dd.head()

,index,crime,complain,location,educ_dist,rest_dist,infrastr_dist,med_dist,shops_dist,food_retail,rest,educ,infrastr,med,district_year,year,floors,evc,metrics
0,2027,2.104613,1.325743,"(59.9404882, 30.3200426)",0.003805,0.000295,0.000914,0.003381,0.002730,1.625066,2.922016,3.303787,2.598917,2.199956,-2.557585,-2.651305,-0.918322,0.000595,1.110223e-16
1,11166,2.128905,1.305950,"(59.9414022, 30.3218112)",0.001940,0.001115,0.001764,0.003777,0.001198,1.497607,2.824457,3.153375,2.530316,2.009778,-2.773944,-2.346600,-0.918322,0.001895,1.663841e-03
2,2351,2.286594,1.326063,"(59.940199, 30.323098)",0.002559,0.000914,0.001468,0.002819,0.001254,1.497607,2.860008,3.153375,2.723752,1.862005,-2.367610,-2.745060,-0.918322,0.002636,2.164241e-03
3,60,2.128905,1.305950,"(59.9414022, 30.3218112)",0.001940,0.001115,0.001764,0.003777,0.001198,1.497607,2.824457,3.153375,2.530316,2.009778,-2.773944,-2.346600,-0.599516,0.001895,2.479820e-03
4,3424,2.144677,1.288261,"(59.9415733, 30.3234497)",0.001551,0.000345,0.002505,0.003403,0.000154,1.425663,2.748086,3.041769,2.631575,1.862005,-2.478428,-2.229405,-0.599516,0.003342,2.745962e-03

In [44]:
#смотрим
visual(d)

Figure()

In [6]:
import gmaps
def visual(d):
    apikey = 'AIzaSyAkSEX2mqi0OS5GCO_xiZXBgH9cKZ13OQc'
    gmaps.configure(api_key=apikey)
    locations = d['location']
    weights = d['metrics']
    fig = gmaps.figure()
    fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
    return fig

In [54]:
rrr = list(dd.loc[[0,1,2]]['location'])
print(rrr)
for i in rrr :
    print(get_name(i[0], i[1]))

[(59.940488199999997, 30.320042600000004), (59.941402200000013, 30.321811199999996), (59.940199, 30.323097999999998)]
18, набережная реки Мойки, Дворцовый округ, Центральный район, Санкт-Петербург, Северо-Западный федеральный округ, 191014, РФ
10, набережная реки Мойки, Дворцовый округ, Центральный район, Санкт-Петербург, Северо-Западный федеральный округ, 191014, РФ
7, Большая Конюшенная улица, Дворцовый округ, Центральный район, Санкт-Петербург, Северо-Западный федеральный округ, 191186, РФ

In [47]:
def get_name(input_new_latitude, input_new_longitude):
    from geopy.geocoders import Nominatim
    geolocator = Nominatim()
    string = str(input_new_latitude) + ', ' + str(input_new_longitude)
    location = geolocator.reverse(string, language='ru')
    lr = location.raw
    return lr['display_name']

In [25]:
import geocoder

In [30]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
string = str(input_latitude) + ', ' +str(input_longitude)
location = geolocator.reverse(string, language='ru')
lr = location.raw
s = lr['display_name']
print(s)

ТЦ Стела, 5, проспект Просвещения, Шувалово, округ Шувалово-Озерки, Выборгский район, Санкт-Петербург, Северо-Западный федеральный округ, 194358, РФ