In [1]:
import pandas as pd
import numpy as np
import random
import math
import scipy.spatial.distance as ssd

In [38]:
# вставьте здесь координаты (они приходят на вход)
# Михайловский замок #59.940069, 30.340465
#  {'longitude': 30.289519, 'latitude': 59.964062}
#59.940069, 30.320465
input_latitude, input_longitude = 30.289519, 59.964062

In [70]:
# загрузка датасета - вставьте другой путь.
# требуемые колонки = lat, lon, остальные колонки без разницы с каким названием
#data = pd.read_csv('crime_complain_educ_rest_infrastr_med_shops.csv')

In [139]:
#feature_columns - список колонок-фичей, чтобы по ним потом считать расстояние
def prepare(data2):
    del data2['lat']
    del data2['lon']
    feature_columns = [x for x in data2.columns if x!= 'location']
    return data2, feature_columns

# ищет ближайший локейшн по df 
def find_closest_location(df, lat, lon):
    print('find clsest location!')
    if (lat, lon) in df['location']:
        return lat, lon
    df['evc'] = df['location'].map(lambda x: math.sqrt((float(x[0])-float(lat))**2 + (float(x[1])-float(lon))**2))
    df = df.sort_values(['evc'], ascending=True)
    if len(df) == 0:
        return None
    return df.iloc[0]['location']

#считает расстояние location до каждого из df
def count_distances_spb(df, columns, location, mode):
    if location not in df['location']:
        location = find_closest_location(df, location[0], location[1])
    vdf = df[df['location'] == location]
    vector = vdf[columns].as_matrix()
    if vector.shape[0] != 1:
        vector = [vector[0]]
    matrix = df[columns].as_matrix()
    if mode == 'cos':
        res = count_cosine(matrix, vector)
    else:
        res = count_euclid(matrix, vector)
    df['metrics'] = res
    df = df.sort_values(['metrics'])
    return df.drop(df.index[[0]])

def count_distances_ny(df_ny, df_sbp, columns, location, mode):
    if location not in df_ny['location']:
        location = find_closest_location(df_ny, location[0], location[1])
    vdf = df_ny[df_ny['location'] == location]
    #print(vdf)
    vector = vdf[columns].as_matrix()
    #print(vector)
    if vector.shape[0] != 1:
        vector = [vector[0]]
    matrix = df_sbp[columns].as_matrix()
    #print(matrix)
    if mode == 'cos':
        res = count_cosine(matrix, vector)
    else:
        res = count_euclid(matrix, vector)
    df_sbp['metrics'] = res
    df_sbp = df_sbp.sort_values(['metrics'])
    return df_sbp.drop(df_sbp.index[[0]])

#косинусное расстояние
def count_cosine(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.cosine(i, vector))
    return cos

#евклидово расстояние
def count_euclid(matrix, vector):
    cos = []
    for i in matrix:
        cos.append(ssd.euclidean(i, vector))
    return cos

In [197]:
def prepare_ny_spb():
    spb = pd.read_csv('all_and_bus_subw.csv')
    ny = pd.read_csv('crimes_complaints_shops_NY.csv')
    spb['location'] = list(zip(spb['lat'], spb['lon']));
    ny['location'] = list(zip(ny['lat'], ny['lon']));
    #f = ['location', 'crime', 'complain']
    f = ['location','crime', 'complain', 'shops_dist'] # 'rest_dist', 'bus_dist', 'subw_dist'
    ff = ['crime', 'complain', 'shops_dist']
    #print(spb.columns)
    #print(ny.columns)
    return spb[f].reset_index(), ny[f].reset_index(), ff

In [198]:
#все считаем
input_latitude, input_longitude = 40.7322036, -74.0089421
#40.758896, -73.985130
if input_longitude > 0:
    data = pd.read_csv('all_and_bus_subw.csv')
    data['location'] = list(zip(data['lat'], data['lon']))
    data, feature_columns = prepare(data)
    d = count_distances_spb(data, feature_columns, (input_latitude, input_longitude), 'cos')
else:
    #data_sbp = pd.read_csv('spb.csv')
    #data_ny = pd.read_csv('ny.csv')
    data_spb, data_ny, feature_columns = prepare_ny_spb();
    d = count_distances_ny(data_ny, data_spb, feature_columns,  (input_latitude, input_longitude), 'cos')
d.to_csv('predict_for_{0}_{1}.csv'.format(input_latitude, input_longitude))

find clsest location!

In [199]:
dd = d.reset_index()
del dd['level_0']
del dd['index']

In [200]:
dd.head()

                   location     crime  complain  shops_dist       metrics
0     (59.886062, 30.26771)  1.305142  1.200188    0.000722  5.977408e-09
1    (59.888468, 30.430492)  1.612094  1.482861    0.001269  9.444733e-09
2  (59.9360469, 30.4895404)  1.305142  1.200336    0.000631  1.389191e-08
3  (59.9354452, 30.3768074)  1.919046  1.764581    0.000883  1.713185e-08
4  (59.9354452, 30.3768074)  1.919046  1.764581    0.000883  1.713185e-08

In [201]:
rrr = list(dd.loc[[0,1,2]]['location'])
print(rrr)

[(59.886061999999988, 30.267710000000001), (59.888468000000003, 30.43049199999999), (59.936046900000001, 30.489540399999999)]

In [166]:
lat_up, lon_up =  59.981107, 30.313274
lat_down, lon_down =  59.815117, 30.328380

In [192]:
dd['lat'] = dd['location'].map(lambda x: x[0])
dd['lon'] = dd['location'].map(lambda x: x[1])

In [194]:
ddclose = dd[(dd['lat'] < lat_up) & (dd['lat'] > lat_down) & (dd['lon'] > lon_up) & (dd['lon'] < lon_down)]
ddclose = ddclose.reset_index()

In [196]:
ddclose[:15]

,index,location,crime,complain,rest_dist,bus_dist,subw_dist,metrics,lat,lon
0,3088,"(59.8226899, 30.3233295)",0.037879,0.839823,0.005328,0.001092,0.028320,0.974148,59.822690,30.323329
1,3089,"(59.8226899, 30.3233295)",0.037879,0.839823,0.005328,0.001092,0.028320,0.974148,59.822690,30.323329
2,3090,"(59.8226899, 30.3233295)",0.037879,0.839823,0.005328,0.001092,0.028320,0.974148,59.822690,30.323329
3,3188,"(59.8200096, 30.32727)",-0.269073,0.739898,0.001833,0.005445,0.025963,0.975016,59.820010,30.327270
4,3393,"(59.8229329, 30.3262355)",-0.100145,0.866997,0.004567,0.003015,0.025547,0.976296,59.822933,30.326235
5,4041,"(59.8300394, 30.3278772)",0.344831,1.019525,0.002276,0.005264,0.021971,0.979515,59.830039,30.327877
6,4042,"(59.8300394, 30.3278772)",0.344831,1.019525,0.002276,0.005264,0.021971,0.979515,59.830039,30.327877
7,4081,"(59.825128, 30.326233)",-0.100145,0.988336,0.003192,0.003188,0.024746,0.979655,59.825128,30.326233
8,4082,"(59.825128, 30.326233)",-0.100145,0.988336,0.003192,0.003188,0.024746,0.979655,59.825128,30.326233
9,4083,"(59.825128, 30.326233)",-0.100145,0.988336,0.003192,0.003188,0.024746,0.979655,59.825128,30.326233
10,4108,"(59.824599, 30.326046)",-0.100145,1.009653,0.003717,0.002824,0.025100,0.979776,59.824599,30.326046
11,4221,"(59.829063, 30.327268)",0.255665,1.021422,0.001417,0.004342,0.022733,0.980138,59.829063,30.327268
12,4222,"(59.829063, 30.327268)",0.255665,1.021422,0.001417,0.004342,0.022733,0.980138,59.829063,30.327268
13,4282,"(59.8273425, 30.3269294)",0.037879,1.005484,0.001303,0.003841,0.023438,0.980391,59.827343,30.326929
14,4283,"(59.8273425, 30.3269294)",0.037879,1.005484,0.001303,0.003841,0.023438,0.980391,59.827343,30.326929

In [168]:
rrrc = list(ddclose.loc[[0,1,2]]['location'])
print(rrrc)

KeyError: 'None of [[0, 1, 2]] are in the [index]'

In [163]:
#смотрим
visual(d)

Figure()

In [6]:
import gmaps
def visual(d):
    apikey = 'AIzaSyAkSEX2mqi0OS5GCO_xiZXBgH9cKZ13OQc'
    gmaps.configure(api_key=apikey)
    locations = d['location']
    weights = d['metrics']
    fig = gmaps.figure()
    fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
    return fig

In [136]:
rrr

[(59.913979000000012, 30.311648999999999),
 (59.952231599999998, 30.302446700000001),
 (59.936046900000001, 30.489540399999999)]

In [137]:
rrr = list(dd.loc[[0,1,2]]['location'])
print(rrr)
for i in rrr :
    print(get_name(i[0], i[1]))

[(59.921895199999987, 30.3475918), (59.940280600000001, 30.348788599999999), (59.856388099999997, 30.469370600000001)]
60/7, улица Марата, Владимирский округ, Центральный район, Санкт-Петербург, Северо-Западный федеральный округ, 191126, РФ
32, Литейный проспект, Литейный округ, Центральный район, Санкт-Петербург, Северо-Западный федеральный округ, 191014, РФ
1 к1, 2-й Рабфаковский переулок, Троицкое поле, Обуховский округ, Невский район, Санкт-Петербург, Северо-Западный федеральный округ, 192012, РФ

In [47]:
def get_name(input_new_latitude, input_new_longitude):
    from geopy.geocoders import Nominatim
    geolocator = Nominatim()
    string = str(input_new_latitude) + ', ' + str(input_new_longitude)
    location = geolocator.reverse(string, language='ru')
    lr = location.raw
    return lr['display_name']

In [25]:
import geocoder

In [30]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
string = str(input_latitude) + ', ' +str(input_longitude)
location = geolocator.reverse(string, language='ru')
lr = location.raw
s = lr['display_name']
print(s)

ТЦ Стела, 5, проспект Просвещения, Шувалово, округ Шувалово-Озерки, Выборгский район, Санкт-Петербург, Северо-Западный федеральный округ, 194358, РФ