In [3]:
import json 
import pandas as pd
import math

In [4]:
data = json.load(open('export.json'))

In [5]:
bus_stops = pd.DataFrame(index=[i for i in range(4376)], columns=['lon', 'lat'])
bus_stops.head()

   lon  lat
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN

In [6]:
k = 0
for i in range(len(data['elements'])):
    if ('lon' in data['elements'][i].keys()) & ('lat' in data['elements'][i].keys()):
        if not (math.isnan(data['elements'][i]['lon']) | math.isnan(data['elements'][i]['lon'])):
            k += 1    
print(k)

4376

In [7]:
len(bus_stops)

4376

In [8]:
for i in range(len(bus_stops)):
    if ('lon' in data['elements'][i].keys()) & ('lat' in data['elements'][i].keys()):
        if not (math.isnan(data['elements'][i]['lon']) | math.isnan(data['elements'][i]['lon'])):
            bus_stops.loc[i]['lon'] = data['elements'][i]['lon']
            bus_stops.loc[i]['lat'] = data['elements'][i]['lat']          
bus_stops

          lon      lat
0     -75.262  40.7552
1    -73.9431  40.7014
2    -75.2651  40.7569
3    -75.2581   40.741
4    -74.5227  39.3906
5    -75.1193  39.7086
6    -74.2175  40.4241
7    -75.1936  40.0596
8    -74.9537  40.1375
9    -75.0799  40.1954
10   -75.0865  40.1991
11   -75.0893  40.2007
12   -75.0923  40.2024
13   -75.0887   40.191
14   -75.1125  40.1564
15   -73.0616  41.9211
16   -73.0606   41.921
17   -73.0599  41.9251
18   -73.0749  41.9322
19   -73.9624  41.9266
20   -75.3331  40.6654
21   -75.2935  40.6679
22   -73.7105  41.0149
23   -73.7073   41.017
24   -74.0362  41.1858
25   -73.6012  41.5636
26   -73.9304  41.7046
27   -73.7289  41.6515
28   -73.9533  40.7571
29   -75.1936  39.9585
...       ...      ...
4346 -76.6298  39.2423
4347 -76.6299  39.2424
4348 -76.6301  39.2416
4349 -76.6302  39.2417
4350 -76.6301  39.2416
4351 -76.6302  39.2417
4352  -76.648  39.3445
4353 -76.6477  39.3437
4354 -76.6478  39.3441
4355 -76.6481  39.3445
4356 -76.6479  39.3445
4357 -76.6479  39.3445
4358 -76.6478  39.3437
4359 -76.6477  39.3437
4360 -76.6479  39.3437
4361 -76.6477  39.3437
4362 -76.6479  39.3438
4363 -76.6479  39.3441
4364 -76.6479  39.3441
4365  -76.648  39.3442
4366 -76.6479  39.3442
4367 -76.6478  39.3442
4368  -76.648  39.3442
4369 -76.6479  39.3442
4370 -76.6479  39.3442
4371 -76.6481  39.3445
4372 -76.6352  39.4489
4373 -76.6348  39.4482
4374 -76.6348  39.4482
4375 -76.6346  39.4482

[4376 rows x 2 columns]

In [24]:
bus_stops.to_csv('bus_stops_NYC.csv', sep=';')

PermissionError: [Errno 13] Permission denied: 'bus_stops_NYC.csv'

In [9]:
bus_stops.describe()

                lon          lat
count   4368.000000  4368.000000
unique  4363.000000  4364.000000
top      -76.652191    40.707558
freq       2.000000     2.000000

In [143]:
import gmaps
apikey = 'AIzaSyAkSEX2mqi0OS5GCO_xiZXBgH9cKZ13OQc'
gmaps.configure(api_key=apikey)
locations = bus_stops[['lat', 'lon']]
weights = bus_stops['value']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

ModuleNotFoundError: No module named 'gmaps'

In [18]:
bus_stops.dtypes

lon    object
lat    object
dtype: object

In [10]:
import gmplot
lats = list(bus_stops['lat'])
lons = list(bus_stops['lon'])

In [14]:
type(lats[1])

float

In [23]:
gmap = gmplot.GoogleMapPlotter(lats, lons, 12)
gmap.plot(lats, lons, edge_width=10)
gmap.heatmap(lats, lons)

gmap.draw("mymap4.html")

TypeError: float() argument must be a string or a number, not 'list'